.schedulestyling{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3%;

    
}

.blueschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
    

}

.bluebackgroungcolor{
    background-color: blue
}
.greenschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
}

.greenbackgroungcolor{
    background-color: green
}

.yellowschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
}

.yellowbackgroungcolor{
    background-color: yellow
}

.redschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
}

.redbackgroungcolor{
    background-color: red
}

.oreangeschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
}

.orangebackgroungcolor{
    background-color: orange;
}

.purpleschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
}

.purplebackgroungcolor{
    background-color: purple;
}