.schedulestyling{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3%;

    
}

.blueschedulestyling{
    margin-left: 25%;
    margin-right: 25%; 
    color : whitesmoke; 
    

}

.bluebackgroungcolor{
    background-color: blue;
    color : whitesmoke; 
}
.greenschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
    color : whitesmoke; 
    
}

.greenbackgroungcolor{
    background-color: green;
    color : whitesmoke; 
    
}

.yellowschedulestyling{
    margin-left: 25%;
    margin-right: 25%;
    
      
}

.yellowbackgroungcolor{
    background-color: yellow;
    
    
}

.redschedulestyling{
    margin-left: 25%;
    margin-right: 25%; 
    color : whitesmoke; 
     
}

.redbackgroungcolor{
    background-color: red;
    color : whitesmoke; 
    
}

.oreangeschedulestyling{
    margin-left: 25%;
    margin-right: 25%; 
    color : whitesmoke; 
     
}

.orangebackgroungcolor{
    background-color: orange;
    color : whitesmoke; 
    
}

.purpleschedulestyling{
    margin-left: 25%;
    margin-right: 25%;  
    color : whitesmoke; 
    
}

.purplebackgroungcolor{
    background-color: purple;
    color : whitesmoke; 
    
}